.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 0.5rem;
    background-color: #007BFF;
}

.button:hover {
    transform: translateY(-0.125rem); /* lift effect */
}
