.liked-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    padding: 5vh 0 5vh 0;
}

.liked-products__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
