/* Container for the sorting bar */
.sorting-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem 0;
}

/* Label Styling */
.sorting-bar__label {
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 0.625rem;
}

/* Select Dropdown Styling */
.sorting-bar__select {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    transition: border-color 0.3s ease;
    outline: none;
    cursor: pointer;
    height: 2.5rem;
}

/* Option Styling for the Select Dropdown */
.sorting-bar__option {
    font-size: 0.875rem;
}

/* Change border color when the select is focused */
.sorting-bar__select:focus {
    border-color: #007BFF;
}

/* Toggle Button for Ascending/Descending Order */
.sorting-bar__button {
    display: flex;
    align-items: center;
   /* justify-content: center;*/
    background-color: #007BFF;
    color: #fff;
    border: none;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for the sort order button */
.sorting-bar__button:hover {
    background-color: #0056b3;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Hide filter pane on screens smaller than 1024px */
@media (max-width: 1024px) {
    .filter-pane {
        display: none;
    }
}
